@import url(http://fonts.googleapis.com/css?family=Bowlby+One+SC);
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: Arial, sans-serif;
	background: #333;
	color: #FFF;
}

.container {
	width: 800px;
	margin: 0 auto;
}

h1 {
	margin-top: 25px;
	font-family: 'Bowlby One SC', cursive;
	font-size: 48px;
	letter-spacing: 5px;
}
h1 span {
	color: #FF4444;
}

canvas {
	margin: 25px 0 15px;
	background: #E8D8C0;
}

p {
	margin: 10px 0;
}
p a {
	color: inherit;
}

#menu {
	float: right;
	padding: 10px 20px;
	border: 1px solid #FF4444;
	border-radius: 4px;
	text-decoration: none;
	color: #FF4444;
}